span {
  display: block;
}

#infoContainer{
  box-sizing: border-box;
  border: 2px black solid;
  max-width: 400px;
}

#infoHeader {
}

.info{
  width:100%;
}

#infoBody:last-child{
  border-bottom: none;
}

/*media queries*/
@media only screen and (max-width: 500px){
  #infoContainer{
    width:90%;
  }
}
